<div class="titulo">
  <p>Publique um novo livro clicando em Adicionar. <br>
    Ou gerencie seus livros existentes na lista de livros abaixo.</p>
    <div class="publicar">
      <h1>Comece a Publicar:</h1>
      <div class="publicar-box">
        <h2>Agora ficou fácil em publicar um novo livro!</h2>
        <p>Com a <strong>Libra.me</strong> os seus livros ficam muito mais organizados, e fáceis de administrar para começar, adicione um livro através do botão ao lado, ou então gerencie os livros já publicados!</p>
        <a href="/formulario">Adicionar</a>
      </div>
    </div>
    <h2 class="biblioteca">Sua Biblioteca:</h2>
    <div class="bilbioteca-items">
      <div class="livros-lista">
        <app-livros/>
      </div>
      <div class="categorias">
        <div class="title">
          <img src="../../../assets/book.svg" alt="LIvro-icon">
          <h2>Sua Biblioteca</h2>
        </div>
        <ul>
          <li><a href="">- Todos os Livros</a></li>
          <li><a href="">- Livros</a></li>
          <li><a href="">- Quadrinhos</a></li>
          <li><a href="">- Amostras</a></li>
          <li><a href="">- Ebooks</a></li>
        </ul>
      </div>
    </div>
</div>
