<div class="container">
  <div class="forms">
    <div class="info box">
      <h1>Detalhes do Livro</h1>
      <div class="info2">
        <img src="../../../assets/Info.svg" alt="Info">
        <span>em andamento</span>
      </div>
    </div>
    <div class="formularios">
      <app-form/>
    </div>
  </div>
  <div class="categories">
    <div class="categorias">
      <div class="title">
        <img src="../../../assets/book.svg" alt="LIvro-icon">
        <h2>Sua Biblioteca</h2>
      </div>
      <ul>
        <li><a href="#">- Todos os Livros</a></li>
        <li><a href="#">- Livros</a></li>
        <li><a href="#">- Quadrinhos</a></li>
        <li><a href="#">- Amostras</a></li>
        <li><a href="#">- Ebooks</a></li>
      </ul>
      <app-livros/>
      <app-livros/>
    </div>
  </div>
  </div>
